<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.oversell.mapper.ItemsMapper">
    <resultMap id="BaseResultMap" type="com.example.oversell.pojo.Items">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="item_name" property="itemName" jdbcType="VARCHAR"/>
        <result column="stock" property="stock" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectStockById" resultType="java.lang.Integer">
        select stock
        from items_version
        where id = #{id}
    </select>

    <update id="updateStockById">
        update items_version
        set stock = #{leftCount}
        where id = #{id}
    </update>
    <update id="updateStockByIdAndVersion">
        update items_version
        set stock = #{leftCount}
        where id = #{id}
          and version = #{version}
    </update>
</mapper>